@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", serif;
}
.htext {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0px;
}

.welcome {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
}

.create {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0px;
}

.buckettext{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0px;
}